.ipynb_checkpoints

# Cache in folder
cleaning/__pycache__
evaluating/__pycache__
model_testing/__pycache__
modelling/__pycache__
plotting/__pycache__
selection_feature/__pycache__
sampling/__pycache__
api/__pycache__